.main {
    width: 1366px;
    height: 200px;
}

.logo {
    height: 50px;
}

button  {
    background-color: #C71D1D;
    font-family: Helvetica;
}

.heroSection {
    padding-top: 80px;
    .heroImage {
        img {
            width: 100%;
        }
    }
    .h1 {
        font-weight: bold;
    }
}

body {
    font-size: arial;
}

.login {
    align-items: center;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 5px;
}

.navbar {
    padding: 0 50px;
}

/*
.btn-primary {
    background-color: #C71D1D;
} */

.titleBootcamp {
    h3 {
        font-weight: bold;
    }
    text-align: center;
    height: 150px;
    padding: 50px;
}

.colBootcamp {
        img {
            width: 250px;
            height: 250px;
            border-radius: 5px;
        }
        h4 {
            text-align: center;
            padding: 7px 0 0px;
            font-weight: bold;
        }
        p {
            text-align: justify;
            margin: 0;
        }
}

.colAlumni {
        img {
            width: 350px;
            height: 250px;
            border-radius: 5px;
        }
        p {
            text-align: center;
            color: #C71D1D;
            font-weight: bold;
        }
        a {
            text-decoration: none;
        }
}

.alumni {
    h3 {
        text-align: center;
        font-style: bold;
        font-weight: bold;
    }
    background-color: skyblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, skyblue, white);
    padding: 25px 0;
}

.splide {
    img {
        width: 250px;
    }
}

.splideWork {
    h3 {
        text-align: center;
        font-weight: bold;
    }
}

iframe {
    width: 400px;
    height: 300px;
}

.colClosing {
    a {
        text-decoration: none;
        color: #ffffff;
    }
}

.heroSection {
  background-color: skyblue; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, skyblue, white);
}

.closing {
    background-color: #363636;
    color: #FFFFFF;
    padding: 15px 0;
    .colClosing-2 {
        text-align: right;
    }

}